@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

html{
    font-family: Lato, sans-serif;
}

.fancy-numbered-list{
    padding: 0;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.fancy-numbered-list li{
    flex: 1 1 300px;
    display: block;
    background: #fff;
    box-shadow: -0.2em 0.2em 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
    padding: 1em 1.5em;
    position: relative;
}

.fancy-numbered-list li .title{
    font-weight: bold;
    
}

.fancy-numbered-list li::after{
    display: inline-block;
    padding: 0.4em 1.2em;
    content: '1';
    background: orange;
    color: #fff;
    box-shadow: -0.2em 0.2em 0 0 rgb(0, 0, 0, 0.1);
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    position: absolute;
    top: 0;
    right: 0;
}

.fancy-numbered-list li:nth-child(2)::after{
    content: '2';
}

.fancy-numbered-list li:nth-child(3)::after{
    content: '3';
}

.fancy-numbered-list li:nth-child(4)::after{
    content: '4';
}

.fancy-numbered-list li:nth-child(5)::after{
    content: '5';
}