section p {
    color: green;
}
article + article {
    background-color: red;
}
.highlight{
    background-color: white;
}
h2~p {
    color: blue;
}
li + li a {
    color: green;
}
li.second{
    color: red;
}