.card{
    box-sizing: content-box;
    width: 500px;
    height: 620px;
    border: 1px solid black;
}
h2{
    text-align: center;
}
p{
    margin-left: 15%;
    margin-right: 10%;
    font-size: 18px;
}
footer{
    margin-left: 15%;
    margin-right: 10%;
    text-align: start;
}
h4{
    margin-bottom: -2px;
}