blockquote{
    font-style: italic;
    border-left: 5px solid lightgray;
    padding: 5px;
    
}
blockquote p {
    padding-left: 10px;
}
.author{
    text-align: right;
}

header{
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p,
ol,
ul{
    padding-bottom: 1.5em;
}

ol,
ul{
    padding-left: 1.5em;
}

main{
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid lightgray;
}

th,td{
padding: 5px;
}
table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: rgb(206, 202, 202);
}

.first{
    background-color: rgb(233, 230, 230);
}